<form role="search">
  <div class="form-group">
    {{input value=filterText placeholder='Search...' class='form-control' type='text'}}
  </div>
</form>

<div class="row">
  {{#each filteredContacts as |contact|}}
    {{contacts/contact-row contact=contact}}
  {{/each}}
</div>
