<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{link-to 'Contacts' 'contacts' class='navbar-brand'}}
    </div>

    <div class="collapse navbar-collapse">
      {{link-to '+ New' 'contacts.new' class='btn btn-default navbar-btn navbar-right'}}
    </div>
  </div>
</nav>
